<%= render "shared/header" %>
<h1>映画スケジュール</h1>
<table>
<tr>
<td>映画館名</td>
<td>映画タイトル</td>
<td>開始時間</td>
<td>終了時間</td>
</tr>
<% @schedules.each do |schedule| %>
<tr>
<td> <%= schedule.theater.name %> </td> 
<td> <%= schedule.movie.title %> </td> 
<td> <%= schedule.start_time %> </td> 
<td> <%= schedule.end_time %> </td> 

</tr>
<% end %>
</table>