<div class="title">上映スケジュール詳細</div>
<%=@schedule.movie.title %>
<%=@theater.name %>
<%# @schedules.each do |schedule| %>
  <%=@schedule.start_time%>
  <%=@schedule.end_time%>
  <%=@schedule.end_time%>
<%# end %>
<div style="position: relative; padding-bottom: 56.25%;">
  <iframe 
    style="position: absolute; top: 0; left: 0; width: 50%; height: 50%;" 
    src="https://www.youtube.com/embed/<%= @movie.youtube_url %>"
    frameborder="0" 
    allow="autoplay; 
    encrypted-media" 
    allowfullscreen>
  </iframe>
</div>