<section style="background-color: #FFCC66" class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <div class="box">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email, class: "label" %>
          <p class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <div class="control has-icons-left">
          <%= f.label :password, class: "label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
          <p class="control has-icons-left">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
          </p>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "button is-success" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>